{% extends "index.html" %}
 
{% block content %}

	<p>
		Cypriot Maronite Arabic (known as Sanna) is a language historically spoken in the Northwestern area of Cyprus. The name of the language comes from the word for language "lisan", it has evolved into "san", combined with the possessive particle for "us", "na", to make "Sanna", literally meaning "our language". 

		<br>
		<br>

		There were four major migrations from the Lebonon/Syria/present-Palestine to Cyprus during the 8th and 12/13th centuries, mainly to escape religious persecution. The language persisted for many centuries, but due to further persecution, the language only persisted in four villages, and by the mid-20th century, it had only one major stronghold, the village of Kormakitis. Kormakitis is regarded as the homeland of the Sanna language. In 1974, the Cyprus war occurred, and due to the invasion of Northern Cyprus, the native Maronites of Kormakitis were forced to either join the Greek Cypriots or stay with the Turkish Cypriots, most of them chose to join the Greek Cypriots, sharing religious beliefs. This caused the language to be dispersed across Cyprus, the vast majority of speakers only used Greek with their families and this has lead to the rapid decline of the language. The language is only used by some elders in Kormakitis and occasionally by native speakers at Maronite events.

		<br>
		<br>
		This project was started to address the issue of the language, there are currently no dictionaries or any learner-friendly resources for this language. This project aims to serve as the main dictionary, with audio samples for each word, providing example sentences, a concordance tool (to see how words are used), and a basic grammar to the Cypriot Maronite community of the Republic of Cyprus.


	</p>

{% endblock %}
