{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

			<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" media="screen">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
	</head>

	<div class="page-header">
		<h4 align="center"> Leksiko Tel Sanna <small>(L-San tel Kormakitis)</small></h4>
		<h4 align="center"> Sanna Dictionary <small>(The Language of the Town of Kormakitis, Cyprus)</small></h4>
	</div>

<body>

	<nav class="navbar navbar-inverse" id="navybars">
	   <div class="container-fluid">
	     <div class="navbar-header">
	       <a class="navbar-brand" href="#">Leksiko Tel Sanna</a>
	     </div>
	     <ul class="nav navbar-nav">
	     	<li role="navigation"><a href="/">Home | Java</a></li>
			<li role="navigation"><a href="/aboutproject">About the Project | L-şocol aδa</a></li>
			<li role="navigation"><a href="/contextsearch">Context search | Lakiχ fi Sanna</a></li>		
	     </ul>
		<form class="navbar-form navbar-left" method="GET" role="search" action="/results">
			<div class="input-group">
				<div class="input-group-btn keyboard">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<img src="" width="16px" alt="">    <span class="caret"></span>
						</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" class="btn btn-default" onclick="$('input#search-input').insertAtCursor('θ').focus(); return false;" )"="">θ</a></li>
						<li><a href="#" class="btn btn-default" onclick="$('input#search-input').insertAtCursor('γ').focus(); return false;" )"="">γ</a></li>
						<li><a href="#" class="btn btn-default" onclick="$('input#search-input').insertAtCursor('δ').focus(); return false;" )"="">δ</a></li>
						<li><a href="#" class="btn btn-default" onclick="$('input#search-input').insertAtCursor('ş').focus(); return false;" )"="">ş</a></li>
						<li><a href="#" class="btn btn-default" onclick="$('input#search-input').insertAtCursor('χ').focus(); return false;" )"="">χ</a></li>
					</ul>
					</div><!-- input-group-btn -->
		
					<input type="search" class="form-control" id="search-input" name="searchword" autofocus="true" value="" placeholder="English <--> Sanna">
					<div class="input-group-btn">
					<button type="submit" id="searchbutton" class="btn btn-primary">Search | Fatteş</button>
				</div><!-- input-group-btn -->		
			</div>			
		</form>
	   </div>
	</nav>
	{% block content %}{% endblock %}

</body>		

</html>
