{% extends "index.html" %}
 
{% block content %}
		{% if entry %}
		<p align="center">
			<h3 id="lemmaId"> {{ entry['Sanna word']}}</h3>
			<strong>Part of speech: </strong>
			<br>
			{{ entry['part of speech'] }}
			<br>
			<br>
			<strong>Word/Lemma: </strong>
			<br>
			{{ entry['Sanna word']}}  
			<br>
			<br>
			<strong>Meaning: </strong>
			<br>
			{{ entry['English meaning'] }}
				
			{% else %}
			<h2>No results found for this word, please try another word</h2>
		{% endif %}
{% endblock %}
